<app-header></app-header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<h1>Hello, PensionPlanAngularModules</h1>
<!-- static markdown -->
<!--<markdown ngPreserveWhitespaces>
  # Markdown
  # H1
  ## H2
  ### H3
  **bold text**
  *italicized text*
  > blockquote
  1. First item
  2. Second item
  3. Third item
  - First item
  - Second item
  - Third item
  `code`
  ---
  [title](https://www.example.com)
  
</markdown>

<markdown [data]="markdown"></markdown>


<div markdown ngPreserveWhitespaces>
  # Markdown from div
</div>

<div [innerHTML]="file_name"></div>

<markdown emoji>
  I :heart: ngx-markdown
</markdown>
-->
<app-footer></app-footer>

